[submodule "refs"]
	path = refs
	url = ogive:git/research/references.git
	url = git@framagit.org:jsegu/references.git
[submodule "figures/iceplotlib"]
	path = figures/iceplotlib
	url = ogive:git/code/iceplotlib.git
	url = git@github.com:jsegu/iceplotlib.git
