# Temporary files
*~

# Latex
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.pdf
*.rtf

# Endfloat
*.fff
*.lof
*.lot
*.ttt

# Latexdiff
*.cb
*.cb2
*-diff.tex

# Python
*.pyc
*.png

# Data
*.dbf
*.nc
*.shp
*.shx
*.tif
*.zip

# Figures
figures/*.tex

# Animations
*.mp4
*.ogg

# Statistics
stats/count.csv
stats/progress.pdf
