# Temporary files
*~

# Files produced by latex
cordillera-cycle.aux
cordillera-cycle.fdb_latexmk
cordillera-cycle.fls
cordillera-cycle.log
cordillera-cycle.out
cordillera-cycle.pdf
cordillera-cycle.rtf

# Data
data/ice*.dbf
data/ice*.shp
data/ice*.shx
data/of_1574.zip

# Figures
figures/*.pyc
figures/*.pdf
figures/*.png

# Statistics
stats/count.csv
stats/progress.pdf
