# Files produced by latex
/*.aux
/*.bbl
/*.blg
/*.fdb_latexmk
/*.fls
/*.log
/*.out
/*.pdf
/*.rtf

# Data
data/*.dbf
data/*.nc
data/*.shp
data/*.shx
data/*.tif
data/*.zip

# Figures
figures/*.pyc
figures/*.pdf
figures/*.png

# Statistics
stats/count.csv
stats/progress.pdf
